<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Control Actividades</h1>
    <form action="/slackAct" method="POST" class="my-4 form-inline">
      <label for="xxx" class="sr-only">Url</label>
      <input required placeholder="Url to short" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-success" type="submit">Shrink</button>

      <h1>Selector de fechas</h1>

      <div id="inline-picker"></div>


    </form>
    
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Tiempo</th>
        </tr>
      </thead>
      <tbody>
        <% ActSchema.forEach(ActSchema => { %>
          <tr>
            <td><a href="<%= ActSchema.user %>"><%= ActSchema.user %></a></td>
            <td><a href="<%= ActSchema.historic.Fecha %>"><%= ActSchema.historic.Fecha %></a></td>
            <td><a href="<%= ActSchema.historic.Actin %>"><%= ActSchema.historic.Actin  %></a></td>
            <td><a href="<%= ActSchema.historic.Actout %>"><%= ctSchema.historic.Actout %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
       
        <% }) %>
      </tbody>
    </table>

   
  </div>
</body>
</html>